/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}




/* OceanSoundscapes */

// Color Table
$medBlue:    #81bcd9;
$lightBlue:  lighten( $medBlue, 15%);
$deepBlue:   #025177;
$bodyColor:  lighten( $medBlue, 90% );

$boldRed:         #aa0033;
$seafoam:         #23a4b1;
$deepOrange:      #f96f00;
$medGray:         #666;
$black:           #111;
$pureBlack:       #000;

$buttonGray:      #ccd;

$altTextColor:    $deepBlue;


// Constant Vars
$maxContentWrapperWidth: 320px + 800px + 6px + 20px; // aka. 1146px


h1 {
  font-size: 1.9em;
  font-weight: bold;
}

h2 {
  font-size: 1.9em;
  font-weight: bold;
}


/* Page Elements */
body {
  font: 62.5% "Verdana", Helvetica, Arial, sans-serif;
  color: $black;
  box-sizing: border-box;
  background-color: $lightBlue;
}

.headerWrapper {
  width:  100%;
}

.header { 
  height: 80px;
  width:  100%;
  max-width: $maxContentWrapperWidth;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding-left: 0;
  background-color: $lightBlue;
  position: relative;

  img { 
    position: absolute;
    top:  8px;
    left: 20px;
  }

  h1 {
    font-size: 2.2em;
    color: $altTextColor;
    position: absolute;
    top: 50%;
    padding-left: 100px;
    transform: translate(0, -50%);
    width: 50%; // Intentionally wraps title at about <490px
  }

  .tagline { 
    display: none; // Not on mobile
  }

}

.pageDivider {
  width: 100%;
  height: 1px;
  background-color: darken($medBlue, 20%);
}


.loc-flex-container {
  width: 100%;
  min-width: 320px;
  overflow: scroll;
  height: 550px;
  background-color: Silver;
}


.contentWrapper {
  width:  100%;
  height: 550px;
  background-color: lighten($medBlue, 10%);

  .locationWrapper {
    min-width: 320px;
    height: 550px;
    float:left;

    .locationHeader {
      height: 25px;
      background-color: $deepBlue;
      color:white;
      margin:auto;
      text-align:center;
      line-height:25px;
      font-size: 1.6em;
    }

    .locationNav {
      height: 525px;
      background-color: $medBlue;

      .liItem {
        height:200px;
        border:solid 3px DeepSkyBlue;
        position: relative;

        .buttonImage {
          position:absolute;
          left: 4px;
          bottom: 4px;
          border: none;
        }

        SPAN {
          position: absolute;
          width: 70.3125%;
          height: 55px;
          top: 121px;
          left: 79px;
          color: white;
          background-color: rgba(0, 0, 0, 0.5);
          font-size: 1.5em;
          vertical-align: center;
          padding: 10px 0 10px 10px;
          overflow: scroll;

          // Center location title text in SPAN container
          display: flex;
          justify-content: center;
          flex-direction: column;
        }
      }
    }
  }
}

.liItemBorderBlue {
  border:solid 3px DeepSkyBlue;
}

.liItemBorderRed {
  border:solid 3px $boldRed;
}



// CONTENT AREA - NOW PLAYING

.centralContent {
  float: left;
  position: relative;
  top: 0;
  left: 0;
  background-color: $deepOrange;
}


.nowPlaying {
  display: none;  // Not visible on mobile
}

#nowPlayingMsg2 {
  font-weight: bold;
  color: $boldRed;
}

.worldMap {
  width:  800px;
  height: 460px;
  display: none; // not visible on smaller screens

  margin: 19px 10px 19px 10px;

  background-image: url('../images/worldMapBlue_800x460.jpg');
  background-size: 100%;
  background-color: #669;
  background-repeat: no-repeat;
  background-position: center center;

  border: solid 3px $medGray;
}




.playButtonImage {
  background: url("../images/plb_playButton_75x75.png") repeat-x left top;
}
.pauseButtonImage {
  background: url("../images/plb_pauseButton_75x75.png") repeat-x left top;
}



/* Clear-less */
.group:before,
.group:after {
  content: "";
  display: table; }

.group:after {
  clear: both; }

.group {
  zoom: 1;
  /* IE 6 and 7 */ }


.a.volume-down, .a.volume-up {
  font-size: 20px;
  width: 30px;
  height: 30px;
}








.arrowButton {
  width:126px;
  height:30px;
  background-color: $buttonGray;
  color: $black; // Default only
  &.disabled {
    color:#999;
  }
}

.muteButton {
  width:60px;
  height:30px;
  background-color: $buttonGray;
  &.mutedMode {
    color: $buttonGray;
    background-color: $buttonGray;
    -webkit-animation-name: mutedMode; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
    animation-name: mutedMode;
    animation-duration: 2s;
    animation-iteration-count: 10000;
  }
  @keyframes mutedMode {
      from {background-color: $boldRed;}
      to {background-color:   $altTextColor;}
  }
}



/* FOOTER */

.copyright {
  margin-left: auto;
  margin-right: auto;
  padding: 5px 0 5px 0;
  width: 100px;
  display: block;
  font-size: 0.9em;
  color: $altTextColor;
}

/* Media Queries */

@media screen and (min-width: 640px) {  // 640px and over...
  .header { 

    h1 {
      top: 50%;
      transform: translate(0, -75%);
    }

    .tagline {
        position:absolute;
        top:54%;
        left: 102px;
        display: block; // Not on mobile

        color: $altTextColor; 
        display: block; 
        font-size:1.41em;
      }

  }

  .contentWrapper {
    // mobile defaults.
    width:  100%;
    height: 550px;
    background-color: lighten($medBlue, 10%);
  }

  .locationWrapper { width:320px; }     // snap back to 320px

  .centralContent {
    position: relative;
    background-color: initial;
  }

  .nowPlaying {
    width: 300px;  // 320px(+) x 150px
    padding: 10px;
    height: 150px;
    display: block;
    font-size: 1.9em;
  }

}

@media screen and (min-width: $maxContentWrapperWidth) {  // 11XXpx and over...
  .contentWrapper { 
    width: $maxContentWrapperWidth; 
    margin: auto;
  }
  
  .centralContent {
    background-color: $deepOrange;
  }

  .nowPlaying {
    width: 100%;
    height: 50px;
        padding: 0;
    display: block;
    text-align: center;
    font-size: 1.9em;
  }

  .worldMap { display: block; }
}
