/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}




/* OceanSoundscapes */

// Color Table
$medBlue:    #81bcd9;
$lightBlue:  lighten( $medBlue, 35%);
$deepBlue:   #0564ac;
$bodyColor:  lighten( $medBlue, 90% );

$boldRed:         #aa0033;
$seafoam:         #23a4b1;
$deepOrange:      #f96f00;
$medGray:         #666;
$black:           #111;
$pureBlack:       #000;

$buttonGray:      #ccd;

$altTextColor:    $deepBlue;


// Constant Vars
$maxContentWrapperWidth: 1200px;


// EXPORTED COLORS
.c_ocean0 { background-color: #f00; }
.c_ocean1 { background-color: $seafoam; }
.c_ocean2 { background-color: $seafoam; }
.c_ocean3 { background-color: $seafoam; }
.c_ocean4 { background-color: $seafoam; }
.c_ocean5 { background-color: $seafoam; }


// CUSTOMIZED HTML ELEMENTS 

body {
  font: 62.5% "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $black;
  box-sizing: border-box;
  background-color: $lightBlue;
}


h1 {
  font-size: 1.9em;
  font-weight: bold;
}

h2 {
  font-size: 1.9em;
  font-weight: bold;
}


// RESUABLE NEW ELEMENTS

.pageDivider {
  width: 100%;
  height: 1px;
  background-color: darken($medBlue, 20%);
}

/*
.liItemBorderBlue {
  border:solid 3px DeepSkyBlue;
}

.liItemBorderRed {
  border:solid 3px $boldRed;
}
*/



// HEADER ELEMENTS
.headerWrapper {
  width:  100%;
}

.header { 
  height: 110px;
  width:  100%;
  max-width: $maxContentWrapperWidth;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding-left: 0;
  background-color: $lightBlue;
  position: relative;

  img { 
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(0, -50%);
    // background: url(../images/oceanSoundscape-icon-64x64.jpg) no-repeat;
    width: 64px;
    height: 64px;
  }

  h1 {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 100px;

    font-size: 2.8em;
    color: $altTextColor;
    width: 50%; // Intentionally wraps title at about <490px
  }

  .topMenuBar {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 20px;

    ul {
      margin: 0;
      padding: 0;
      li {
        display:inline;
        padding: 0 5px 0 0;
      }
    }
  }
}


// HEADER ELEMENTS - ARROWS & MUTE BUTTONS
.headerButton {
  position: relative;
  vertical-align: top;
  height: 4.5em;
  font-size: 1.2em;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  border: 0;
  padding: 0;
  cursor: pointer;
}

.headerButton:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}


.muteButton {
  width: 60px;
  background: lighten($altTextColor, 20%);
  &.mutedMode {
    color: white;
    background-color: lighten($altTextColor, 20%);
    -webkit-animation-name: mutedMode; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
    animation-name: mutedMode;
    animation-duration: 1s;
    animation-iteration-count: 10000;
  }
  @keyframes mutedMode {
      from {background-color: $boldRed;}
      to {background-color:   lighten($altTextColor, 20%);}
  }
}

.arrowButton { display: none; } // MOBILE - TOO NARROW FOR ARROW BUTTONS

// HEADER ELEMENTS - END --------------------------------------------- //


// CONTENT AREA - MAPS / NOW PLAYING

.contentWrapper {
  // width:  100%;
  // height: 550px;
  background-color: lighten(pink, 10%);
}

.flexOceansContainer {
  display: flex;
  flex-flow:  row wrap;
  justify-conten: center;

}

.oceanChild {
  min-width: 300px;
  max-width: 600px;
  height: 300px;
  margin: auto;
  flex: 1 0 auto;
  position: relative;
  border: 1px solid $black;

  .ocTextDiv {
    width:100%;
    height:100px;
    top:200px;
    left:0px;
    position: absolute;
    font: 1.9em "Helvetica Neue", Helvetica, Arial, serif;

    background-color: lighten($seafoam, 40%);

    P {
      height: 60px;
      padding: 10px;
      margin: 10px;
      background-color: #fff;
    }
  }
}

.ocImageDiv {
  width:100%;
  height:200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.blendModeEnabled {
  background-blend-mode: soft-light;
}

.ocPlaying {
  border: 1px solid #00F;
}

.ocStopped {
  border: 1px solid #F00;
}



// MAPS

.nowPlaying {
  display: none;  // Not visible on mobile
}

#nowPlayingMsg2 {
  font-weight: bold;
  color: $boldRed;
}

.worldMap {
  width:  800px;
  height: 460px;
  display: none; // not visible on smaller screens

  margin: 19px 10px 19px 10px;

  // background-image: url('../images/worldMapBlue_800x460.jpg');
  background-size: 100%;
  background-color: #669;
  background-repeat: no-repeat;
  background-position: center center;

  border: solid 3px $medGray;
}

#pinId0 {
  position: absolute;
}



.playButtonImage {
  background: url("../images/plb_playButton_75x75.png") repeat-x left top;
}
.pauseButtonImage {
  background: url("../images/plb_pauseButton_75x75.png") repeat-x left top;
}



/* Clear-less */
.group:before,
.group:after {
  content: "";
  display: table; }

.group:after {
  clear: both; }

.group {
  zoom: 1;
  /* IE 6 and 7 */ }


.a.volume-down, .a.volume-up {
  font-size: 20px;
  width: 30px;
  height: 30px;
}




/* FOOTER */

.copyright {
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  width: 100%;
  display: block;
  font-size: 0.9em;
  color: lighten($medGray, 10%);
  a {
    color: darken($medBlue, 20%);
  }
}

/* Media Queries */
@media screen and (min-width: 480px) {
  

}


@media screen and (min-width: 640px) {  // 640px and over...
  .contentWrapper {
    // mobile defaults.
    width:  100%;
    //height: 550px;
    //background-color: lighten($medBlue, 10%);
  }

  .nowPlaying {
    width: 300px;  // 320px(+) x 150px
    padding: 10px;
    height: 150px;
    display: block;
    font-size: 1.9em;
  }

}


@media screen and (min-width: 700px) { // 700px and over...

  // HEADER BUTTONS (700px and over) -- (Actually just "mute" at this point.)
  .headerButton {
    height: 1.8em;
  }

  .arrowButton {
    width: 100px;
    background: $altTextColor;
    display: inline;
  }



}


@media screen and (min-width: $maxContentWrapperWidth) {  // 11XXpx and over...
  .contentWrapper { 
    width: $maxContentWrapperWidth; 
    margin: auto;
  }
  
  .nowPlaying {
    width: 100%;
    height: 50px;
        padding: 0;
    display: block;
    text-align: center;
    font-size: 1.9em;
  }

  .worldMap { display: block; }
}
