/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

//
// MOBILE MOBILE MOBILE //
//

/* OceanSoundscapes */

// Color Table
$medBlue:    #81bcd9;
$lightBlue:  lighten( $medBlue, 15%);
$deepBlue:   #025177;
$bodyColor:  lighten( $medBlue, 90% );

$boldRed:         #aa0033;
$medGray:         #666;
$black:           #111;
$pureBlack:       #000;

$buttonGray:      #ccd;

$altTextColor:    $deepBlue;


h1 {
  font-size: 1.9em;
  font-weight: bold;
}

h2 {
  font-size: 1.9em;
  font-weight: bold;
}


/* Page Elements */
body {
  // padding: 20px 50px 20px 50px;
  font: 62.5% "Verdana", Helvetica, Arial, sans-serif;
  color: $black;
  box-sizing: border-box;
  background-color: $lightBlue;
}

.header { 
  height: 80px;
  width:  0.953125%;  // was 305px
  text-align: left;
  padding-left: 0;
  background-color: $lightBlue;
  position: relative;

  img { 
    position: absolute;
    top:  8px;
    left: 20px;
  }

  h1 {
    font-size: 2.2em;
    color: $altTextColor;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(90px, -50%);
  }

}

.contentWrapper {
  width:  100%;
  height: 550px;
  background-color: lighten($medBlue, 10%);
}

.locationWrapper {
  width:100%;
  min-width: 320px;

  .locationHeader {
    height: 25px;
    background-color: $deepBlue;
    color:white;
    margin:auto;
    text-align:center;
    line-height:25px;
    font-size: 1.6em;
  }

  .locationNav {
    height: 525px;
    background-color: $medBlue;

    .liItem {
      width: 100%;

      height:200px;
      border:solid 3px DeepSkyBlue;
      position: relative;

      .buttonImage {
        position:absolute;
        left: 0px;
        bottom: 0px;
      }

      SPAN {
        position: absolute;
        width: 70.3125%;
        height: 55px;
        top: 121px;
        left: 79px;
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
        font-size: 1.5em;
        vertical-align: center;
        padding: 10px 0 10px 10px;
        overflow: auto;

        // Center location title text in SPAN container
        display: flex;
        justify-content: center;
        flex-direction: column;
      }
    }

  }
}


.loc-flex-container {
  
  width: 100%;
  min-width: 320px;
  overflow: scroll;
  height: 550px;
  background-color: Silver;
}

/*.centralContent {
  width:  $centerContentWidth;
  height: 550px;
  margin: auto;
  padding: 30px 0 30px 0;
  float:left;
}*/


/* Clear-less */
.group:before,
.group:after {
  content: "";
  display: table; }

.group:after {
  clear: both; }

.group {
  zoom: 1;
  /* IE 6 and 7 */ }


.a.volume-down, .a.volume-up {
  font-size: 20px;
  width: 30px;
  height: 30px;
}

.nowPlaying {
  width: 800px;
  height: 30px;  
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 20px
}


#worldMap {
  width:  800px;
  height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;

  background-image: url('../images/worldMapBlue_800x460.jpg');
  background-size: 100%;
  background-color: #669;
  background-repeat: no-repeat;
  background-position: center center;

  border: solid 3px $medGray;

display: none; // !!!!!
}


.arrowButton {
  width:126px;
  height:30px;
  background-color: $buttonGray;
  color: $black; // Default only
  &.disabled {
    color:#999;
  }
}

.muteButton {
  width:60px;
  height:30px;
  background-color: $buttonGray;
  &.mutedMode {
    color: $buttonGray;
    background-color: $buttonGray;
    -webkit-animation-name: mutedMode; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
    animation-name: mutedMode;
    animation-duration: 2s;
    animation-iteration-count: 10000;
  }
  @keyframes mutedMode {
      from {background-color: $boldRed;}
      to {background-color:   $altTextColor;}
  }
}

#nowPlayingMsg2 {
  font-weight: bold;
  color: $boldRed;
}


/* FOOTER */

.footerDiv {
  width: 100%;
  height: 20px;
  background-color: #dff;
}

.copyright {
  margin: auto;
  width: 100%;
  font-size: 0.7em;
  color: $altTextColor;
}

@media screen and (min-width: 640px) { 
  .locationWrapper { width:320px; }
}

@media screen and (min-width: 1200px) { 
  .contentWrapper { width: 1200px; margin: auto;}
  #worldMap { display: block; }
}




